@import './common';
@import './example';

.search-form {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    background-color: rgb(181, 168, 152);

}

.gallery-container {
flex-wrap: wrap;
    justify-content: center;
    margin-top: -30px;
    padding-top: 30px;
    display: flex;
    position: absolute;
    top: 60px;
}
.photo-card{
    flex-basis: calc(25% - 30px);
        margin-top: 30px;
        margin-right: 30px;
}
.info {
    
}